<app-header titulo="Perfil">

</app-header>

<ion-content>
    <ion-card color="danger" style="border-radius: 15px;">
        <ion-card-header>
            <ion-card-title>{{titulo}}</ion-card-title>
        </ion-card-header>

        <ion-list>
            <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input #nombre type="text" id="input" [(ngModel)]="propietarioData.nombre" readonly> </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email:</ion-label>
                <ion-input type="email" [(ngModel)]="propietarioData.email" disabled="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Telefono:</ion-label>
                <ion-input #telefono type="text" id="input" [(ngModel)]="propietarioData.telefono" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">ID:</ion-label>
                <ion-input type="number"  [(ngModel)]="propietarioData.id" disabled="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Grupo ID:</ion-label>
                <ion-input type="number" [(ngModel)]="propietarioData.grupoId" disabled="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button #guardar size="default" fill="solid" slot="start" color="tertiary" (click)="alertConfirm()" disabled="true"><ion-icon name="save"></ion-icon></ion-button>
                <ion-button #editar size="default" fill="solid" slot="end" color="primary" (click)="edit()"><ion-icon name="pencil"></ion-icon></ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>