<app-header titulo="Agregar Inmueble">

</app-header>

<ion-content>
  <ion-card  style="border-radius: 15px;"> 
    <ion-card-header color="danger">
      <ion-card-title>Datos de Inmueble</ion-card-title>
  </ion-card-header>

      <ion-item>
        <ion-label position="stacked">DIRECCION</ion-label>
        <ion-input [(ngModel)]="inmuebleData.direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">SUPERFICIE</ion-label>
        <ion-input type="number" [(ngModel)]="inmuebleData.superficie"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">LATITUD</ion-label>
        <ion-input type="number" [(ngModel)]="inmuebleData.latitud"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">LONGITUD</ion-label>
        <ion-input type="number" [(ngModel)]="inmuebleData.longitud"></ion-input>
      </ion-item>

        <ion-input type="hidden" [(ngModel)]="inmuebleData.propietarioId" disabled="true"></ion-input>

        <ion-input type="hidden" [(ngModel)]="inmuebleData.grupoId" disabled="true"></ion-input>
      
        <ion-button class="bordes-redondos" color="primary"  (click)="saveInmueble()"><ion-icon name="save" slot="start"></ion-icon>GUARDAR</ion-button>

  </ion-card>

</ion-content>
