<app-header titulo="Ubicacion">

</app-header>

<ion-content>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <ion-card style="border-radius: 15px;">
    <ion-list>
        <ion-item>
                Dirección: Colon 501, San Luis
        </ion-item>

        <ion-item>
                Áreas de servicio: San Luis y en áreas cercanas            
        </ion-item>

        <ion-item>
                Horario: 09:00hs a 18:00hs
        </ion-item>

        <ion-item>
                Teléfono: 0266 443-9283
        </ion-item>

        <ion-item>
                Provincia: Provincia de San Luis
        </ion-item>
          
    </ion-list>    
    </ion-card>
</ion-content>
