<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" > 
    <ion-header >
      <ion-toolbar color="danger">
        <ion-title >Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="toggleMenu()" routerLink="/mapa">Ubicacion</ion-item>
        <ion-item (click)="toggleMenu()" routerLink="/perfil">Perfil</ion-item>
        <ion-item (click)="toggleMenu()" routerLink="/inmuebles">Inmuebles</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
